{% extends 'registration/registration_base.html' %}
{% block title %}<h4 class="mb-3">Sign_Store</h4>{% endblock %}

{% block Sign_form %}
    <form class="needs-validation" novalidate method="POST">
            {% csrf_token %}
      <div class="row g-3">
        <div class="col-12">
          <label for="storename" class="form-label col-1.5">Store Name</label>
            {{ form.Sname }}
            <div class="invalid-feedback">
              Your username is required.
            </div>
        </div>

        <div class="col-12">
          <label for="email" class="form-label col-1.5">Store Address</label>
            {{ form.Saddress }}
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="col-12">
          <label for="password" class="form-label col-1.5">Store Phone</label>
          {{ form.Sphone }}
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>
      </div>
      <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
    </form>
{% endblock %}