{% extends 'registration/registration_base.html' %}
{% block title %}<h4 class="mb-3">Sign_up</h4>{% endblock %}

{% block Sign_form %}
    <form class="needs-validation" novalidate method="POST">
            {% csrf_token %}
      <div class="row g-3">
        <div class="col-12">
          <label for="storename" class="form-label col-1">Store Name</label>
            {{ form.username }}
            <div class="invalid-feedback">
              Your username is required.
            </div>
        </div>

        <div class="col-12">
          <label for="email" class="form-label col-1">Store Address</label>
            {{ form.email }}
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="col-12">
          <label for="password" class="form-label col-1.5">Store Phone</label>
          {{ form.password1 }}
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="col-12">
          <label for="password" class="form-label col-1.5">Password 2</label>
          {{ form.password2 }}
        </div>
        <div class="col-12">
          <label for="phone" class="form-label col-1">phone</label>
          {{ form.phone }}
        </div>
        <div class="col-12">
          <label for="phone" class="form-label col-1">address</label>
          {{ form.address }}
        </div>
    {#            <div class="col-12">#}
    {#              <label for="phone" class="form-label col-2">Select your user type </label>#}
    {#              {{ form.type }}#}
    {#            </div>#}
      </div>
      <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
    </form>
{% endblock %}