{% extends 'carousel/index.html' %}
{% block store %}
    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for store in data %}
          <div class="col-lg-4">
              {% if store.image %}
                  <img class="bd-placeholder-img rounded-circle" src="{{ store.image.url }}" width="140" height="140"  role="img">
              {% else %}
                  <svg class="bd-placeholder-img rounded-circle" src = "static/index_blade.jpg" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              {% endif %}
            <h2>{{ store.Sname }}</h2>
            <p>電話 : {{ store.Sphone }}</p>
            <p>地址 : {{ store.Saddress }}</p>
            <p><a class="btn btn-secondary" href="/uber_eat/store/?Sid={{ store.Sid }}">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        {% endfor %}
    </div><!-- /.row -->
{% endblock %}