{% extends 'store/index.html' %}
{% block store_title %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">

                    {% if Sname %}
                        歡迎：{{ Sname }}
                    {% endif %}
                </h1>
                <p class="lead text-muted">Add some product here!!
                <p>
                <p class="lead text-muted">Make your store easyly!
                <p>
                    <a href="/uber_store/add_product" class="btn btn-primary my-2">Add Product</a>
                    <a href="/store_show_order" class="btn btn-primary my-2">訂單</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}

{% block show_product %}
    {% for product in ProductList %}

        <div class="col">
            <div class="card shadow-sm">
                <div class="bd-placeholder-img card-img-top" width="100%" height="225" style="width: 100%; height: 225px; position: relative;"
                     aria-label="Placeholder: Thumbnail">
                    <img
                            {% if product.image %}
                                src="{{ product.image.url }}"
                            {% endif %}
                    style="max-width: 100%; max-height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                    >
                </div>
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"/>
                <div class="card-body">
                    <p class="card-text">
                        {{ product.Pname }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="/uber_store/upload_product_img/?Pid={{ product.Pid }}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </a>
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="?Pid={{ product.Pid }}">Delete</a>
                        </div>
                        <small class="text-muted">{{ product.Pprice }} 元</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}