{% extends 'store/index.html' %}
{% load static %}
{% block store_title %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">
                    {% if Storeinfo %}
                        {{ Storeinfo.Sname }}
                    {% endif %}
                </h1>
            </div>
        </div>
    </section>
{% endblock %}

{% block show_product %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in ProductList %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 style="width: 100%; height: 225px; position: relative;"
                                 aria-label="Placeholder: Thumbnail">
                                <img
                                        {% if product.image %}
                                            src="{{ product.image.url }}"
                                        {% endif %}
                                            style="max-width: 100%; max-height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                                >
                            </div>
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <!-- <text x="50%" y="50%" fill="#eceeef" dy=".3em">hahah</text> -->
                            <div class="card-body">
                                <p class="card-text">
                                    {{ product.Pname }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input class="input-group-field" value="0" type="number" name="count" min="0"
                                           id="{{ product.Pid }}">
                                    <small class="text-muted">{{ product.Pprice }} 元</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block submit %}
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="" id='add_order'>
        <button class="btn btn-lg btn-primary" onclick="tests()">送出訂單！</button>
    </a>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.2.js" type="text/javascript"></script>
    <script type="text/javascript" src={% static 'js/Quttons.js' %}></script>
    <script type="text/javascript" src={% static 'js/velocity.js' %}></script>
    <script type="text/javascript" src={% static 'js/velocity.ui.js' %}></script>
    <script type="text/javascript" src={% static 'js/javascript_session_library.js' %}></script>
    <link rel="stylesheet" href="{% static 'css/Quttons.css' %}">
    <script>
        $(function () {

        });

        function tests() {
            data = [];
            count = 0;
            {% for product in ProductList %}
                countnum = document.getElementById({{ product.Pid }})
                if(countnum.value != 0){
                    data[count] = 'P=' + "{{product.Pid}}," + countnum.value + '&';
                }
                count++;
            {% endfor %}
            document.getElementById('add_order').href = '/uber_eat/add_order_post/?' + data.join('') + 'S='+{{ Storeinfo.Sid }}+
            '&C=' +{{ userinfo.id }};
            console.log(data.join(''));
        }
    </script>
{% endblock %}