{% extends 'store/index.html' %}
{% block store_title %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">
                    {% if Storeinfo %}
                        {{ Storeinfo.Sname }}
                    {% endif %}
                </h1>
            </div>
        </div>
    </section>
{% endblock %}

{% block show_product %}
    {% for product in ProductList %}
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"/>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
                <div class="card-body">
                    <p class="card-text">
                            {{ product.Pname }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">+</button>
                        </div>
                        <small class="text-muted">{{ product.Pprice }} 元</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}