{% extends 'orders/order_base.html' %}


{% block show_product %}
    <section class="py-5 text-center container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">訂單者</th>
                <th scope="col">訂單編號</th>
                <th scope="col">物品數量</th>
                <th scope="col">訂單總價</th>
                <th scope="col">訂單創建時間</th>
                <th scope="col">店家名稱</th>
                {% block edit_order %}{% endblock %}
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td align='center' valign="middle">{{ order.C.username }} </td>
                    <td align='center' valign="middle">{{ order.Oid }} </td>
                    <td align='center' valign="middle">{{ order.Ocount }} </td>
                    <td align='center' valign="middle">{{ order.Oprice }} </td>
                    <td align='center' valign="middle">{{ order.Ocreated }} </td>
                    <td align='center' valign="middle">{{ order.S.Sname }} </td>
                    {% block get_order %}{% endblock %}
                </tr>
            {% endfor %}
            </tbody>
            {% block deliver_order %}
            {% endblock %}
        </table>
    </section>
{% endblock %}