{% extends 'orders/order_base.html' %}
{% block store_title %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2>訂單詳情</h2>
            </div>
        </div>
    </section>
{% endblock %}

{% block show_product %}
    <div class='rg-container'>
        <table class="rg-table">
            <thead>
            <tr>
                <th>訂單者</th>
                <th scope="col">訂單編號</th>
                <th scope="col">物品數量</th>
                <th scope="col">訂單總價</th>
                <th scope="col">訂單創建時間</th>
                <th scope="col">訂單狀態</th>
                <th scope="col">店家名稱</th>
                {% block edit_order %}{% endblock %}
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td data-title='訂單者'>{{ order.C.username }} </td>
                    <td data-title='訂單編號'><a href="/uber_eat/user_show_order_deteil/?Oid={{ order.Oid }}">
                        {{ order.Oid }}
                    </a>
                    </td>
                    <td data-title='物品數量'>{{ order.Ocount }} </td>
                    <td data-title='訂單總價'>{{ order.Oprice }} </td>
                    <td data-title='訂單創建時間'>{{ order.Ocreated }} </td>
                    <td data-title='訂單狀態'>
                        {% if order.Ostatus == 1 %}
                            創建訂單
                        {% elif order.Ostatus == 2 %}
                            店家已接單
                        {% elif order.Ostatus == 3 %}
                            店家已準備完成
                        {% elif order.Ostatus == 4 %}
                            外送員外送中
                        {% elif order.Ostatus == 5 %}
                            外送員抵達
                        {% else %}
                            消費者領取貨(結束訂單)
                        {% endif %}
                    </td>
                    <td data-title='店家名稱'>{{ order.S.Sname }} </td>
                    {% block get_order %}{% endblock %}
                </tr>
            {% endfor %}
            </tbody>
            {% block deliver_order %}
                <thead>
                <tr>
                    <th scope="col">訂單者</th>
                    <th scope="col">訂單編號</th>
                    <th scope="col">物品數量</th>
                    <th scope="col">訂單總價</th>
                    <th scope="col">訂單創建時間</th>
                    <th scope="col">已完成訂單</th>
                    <th scope="col">店家名稱</th>
                </tr>
                </thead>
                <tbody>
                {% for order in ordershistory %}
                    <tr>
                        <td data-title='訂單者'>{{ order.C.username }} </td>
                        <td data-title='訂單編號'><a href="/uber_eat/user_show_order_deteil/?Oid={{ order.Oid }}">
                            {{ order.Oid }} </a>
                        </td>
                        <td data-title='物品數量'>{{ order.Ocount }} </td>
                        <td data-title='訂單總價'>{{ order.Oprice }} </td>
                        <td data-title='訂單創建時間'>{{ order.Ocreated }} </td>
                        <td data-title='已完成訂單'>消費者領取貨(結束訂單)</td>
                        <td data-title='店家名稱'>{{ order.S.Sname }} </td>
                    </tr>

                {% endfor %}
                </tbody>
            {% endblock %}
        </table>
    </div>
{% endblock %}