{% extends 'orders/consumer_show_order.html' %}
{% block edit_order %}
    <th scope="col">接受訂單</th>{% endblock %}
{% block get_order %}
    <style>
        .btn-clipboard {
            position: static;
            padding: .25rem .5rem;
            font-size: .80em;
        }
    </style>
    <td data-title='接受訂單' align='center' valign="middle">
        {% if order.Ostatus == 2 %}
            <button type="button" class="btn-clipboard btn btn-outline-info">
                商店準備中
            </button>
        {% elif order.Ostatus == 3 %}
            <a href="/uber_deliver/deliver_get_order/?Oid={{ order.Oid }}">
                <button type="button" class="btn-clipboard btn btn-outline-info">
                    可接單(餐點準備完成)
                </button>
            </a>
        {% endif %}
    </td>
{% endblock %}


{% block deliver_order %}
    <style>
        .btn-clipboard {
            position: static;
            padding: .25rem .5rem;
            font-size: .80em;
        }
    </style>
    <thead>
    <tr>
        <th scope="col">訂單者</th>
        <th scope="col">訂單編號</th>
        <th scope="col">物品數量</th>
        <th scope="col">訂單總價</th>
        <th scope="col">訂單創建時間</th>
        <th scope="col">訂單狀態</th>
        <th scope="col">店家名稱</th>
        <th scope="col">已接訂單</th>
    </tr>
    </thead>
    <tbody>
    {% for order in deliverorders %}
        <tr>
            <td data-title='訂單者' align='center' valign="middle">{{ order.C.username }} </td>
            <td data-title='訂單編號' align='center' valign="middle">{{ order.Oid }} </td>
            <td data-title='物品數量' align='center' valign="middle">{{ order.Ocount }} </td>
            <td data-title='訂單總價' align='center' valign="middle">{{ order.Oprice }} </td>
            <td data-title='訂單創建時間' align='center' valign="middle">{{ order.Ocreated }} </td>
            <td data-title='訂單狀態' align='center' valign="middle">
                {% if order.Ostatus == 1 %}
                    創建訂單
                {% elif order.Ostatus == 2 %}
                    店家已接單
                {% elif order.Ostatus == 3 %}
                    店家出貨
                {% elif order.Ostatus == 4 %}
                    外送員領貨
                {% elif order.Ostatus == 5 %}
                    外送員抵達
                {% else %}
                    消費者領取貨(結束訂單)
                {% endif %}
            </td>
            <td data-title='店家名稱' align='center' valign="middle">{{ order.S.Sname }} </td>

            <td data-title='已接訂單' align='center' valign="middle">
                {% if order.Ostatus == 2 %}
                    <button type="button" class="btn-clipboard btn btn-outline-info">
                        商店準備中
                    </button>
                {% elif order.Ostatus == 3 %}
                    <a href="/uber_deliver/deliver_get_order/?Oid={{ order.Oid }}">
                        <button type="button" class="btn-clipboard btn btn-outline-info">
                            可接單(餐點準備完成)
                        </button>
                    </a>
                {% elif order.Ostatus == 4 %}
                    <a href="/uber_deliver/deliver_get_order/?Oid={{ order.Oid }}">
                        <button type="button" class="btn-clipboard btn btn-outline-info">
                            已接單->外送中
                        </button>
                    </a>
                {% elif order.Ostatus == 5 %}
                    <a href="/uber_deliver/deliver_get_order/?Oid={{ order.Oid }}">
                        <button type="button" class="btn-clipboard btn btn-outline-info">
                            已抵達(取貨完成請點擊)
                        </button>
                    </a>

                {% else %}
                    <button type="button" class="btn-clipboard btn btn-outline-info">
                        已取貨（完成）
                    </button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}